# Front-end images, removed for copyright reasons
public/images
.png

# VSCode settings, personalised for this project
.vscode

# File containing environment variables
.env

# Folder containing all of the node modules
node_modules